@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: f, f, f;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 99vw;
}

:root a {
  color: var(--primary-color);
}

@media screen and (min-width: 1020px) {
  #container-start {
    overflow-x: hidden;
  }

  .container-start-box {
    padding-left: 2rem;
    text-align: left;
    margin-right: -100px;
  }

  .container-start-title {
    margin: 0;
  }

  @media screen and (max-width: 1350px) {
    .container-start-img > h2 {
      margin: 0 5em;
    }
  }
}

@media screen and (min-width: 1500px) {
  .container-start-img {
    max-width: none;
    width: 50vw;
  }
}

.container-start-box > h1 {
  max-width: 90vw;
}

.expand-arrow {
  transition: transform 0.3s ease;
  opacity: 0.7;
}

.rotate-180 {
  transform: rotate(180deg);
}

.invert-color {
  filter: invert();
}

.btn-to-top:hover :first-child {
  filter: invert(1);
}